*.mp4
.venv/
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.svg
*.webp
*.pt
.venv
*.pth
*.avi
lightning_logs/
*.ckpt
*.pyc
.aim/
*.onnx
FashionVeil.egg-info/
*.json
*.pdf
*.Identifier
*:Zone.Identifier
*.0
*.csv
*.xlsx